@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name} {
      @content;
  }  
  @-ms-keyframes #{$animation-name} {
      @content;
  }
  @-o-keyframes #{$animation-name} {
      @content;
  }  
  @keyframes #{$animation-name} {
      @content;
  }
}

@mixin animation($str) {
-webkit-animation: #{$str};
-moz-animation: #{$str};
-ms-animation: #{$str};
-o-animation: #{$str};
animation: #{$str};      
}

$atomSize : 300px;
$nucleusSize : 50px; 
$orbitSize : 300px;
$electronSize : 14px;

$electronColor: #b90404;

#atom {
position:relative;
width: $atomSize;
height: $atomSize;
display:inline-block;
margin: 10px auto;
}

#nucleus, .orbit, .electron {
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
width:$nucleusSize;
height:$nucleusSize;
border-radius:50%;
margin: auto;
}

#nucleus {
background: url('/w-atom.png') no-repeat center center;
background-size: cover;
@include animation('shining 2s infinite linear');
border-radius: 0% !important;
///height: 100px;
///width: 120px;
}

.orbit:before {
content: none;
}

.orbit {
width:$orbitSize;
height:$orbitSize;
transform-style: preserve-3d;

.electron {
  top: ($orbitSize - $electronSize) / 2;
  width:$electronSize;
  height:$electronSize;
  background:$electronColor;
  box-shadow: 0 0 15px $electronColor;  
  border-radius:50%;
  transform: translateX($orbitSize / 2);
  @include animation('electronAnimation 1.5s infinite linear');
}
}

.orbit:nth-child(4) {
transform:rotateY(65deg) rotateX(5deg);
animation-delay: -1s;
.electron {
  animation-delay: -1s;
}
}

.orbit:nth-child(2) {
transform:rotateY(65deg) rotateX(-54deg);
animation-delay: -1s;
animation-duration: 1s;
.electron {
  animation-duration: 1s;
}
}

.orbit:nth-child(3) {
transform:rotateY(65deg) rotateX(54deg);
}

@include keyframes(electronAnimation) {
0% { transform: rotateZ(0deg) translateX($orbitSize / 2) rotateZ(-0deg) rotateY(-65deg); }
100% { transform: rotateZ(360deg) translateX($orbitSize / 2) rotateZ(-360deg) rotateY(-65deg); }
}

@include keyframes(orbitSpecial) {
0% { border:0; border-top: 1px solid transparent; }
35% { border:0; border-right: 1px solid transparent; }
70% { border:0; border-bottom: 1px solid transparent; }
100% { border:0; border-left: 1px solid transparent; }
}

@include keyframes(shining) { 
0% { box-shadow: 0 0 0 transparent; }
50% { box-shadow: 0 0 40px transparent; }
100% { box-shadow: 0 0 0 transparent; }
}