.carousel-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 20px;
}

.carousel-slide img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.slick-slide:not(.slick-center) .carousel-slide img {
    opacity: 0.5;    
    transform: scale(0.9); 
    transform: scale(0.8) rotateY(-25deg);
}

.slick-center .carousel-slide img {
    opacity: 1;  
    transform: scale(1);  
}

.slick-prev, .slick-next {
    z-index: 1;
    font-size: 1.5rem;
    color: #fff;
    opacity: 0;
}

@media (max-width: 1024px) {
    .carousel-container {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .carousel-container {
        padding: 5px;
    }
    .carousel-slide img {
        max-height: 300px; 
    }
}