@media (max-width: 1048px) {
    .container-items-footer {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 20px; 
    }
    .container-items-footer > *:first-child {
        flex-basis: 100%;
        text-align: center; 
    }
    .container-items-footer > * {
        flex-basis: auto;
    }
    .container-socials-footer {
        display: flex;
        justify-content: center;
    }
}

.container-items-footer {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: top;
    padding-top: 100px;
}

.h1-footer {
    font-family: "Europa Grotesk", sans-serif;
    font-weight: 400;
    font-size: 38px;
}

.socialmedia-footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 41); 
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    height: 20px;
    text-decoration: none;
    transition-duration: 0.5s;
}

.socialmedia-footer:hover {
    background-color: black;
}

.container-socials-footer {
    display: flex;
    gap: 20px;
}

.container-quicklinks-footer {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.container-quicklinks {
    display: flex;
    flex-direction: column; 
}

.footer-quicklinks {
    background: none;
    color: rgb(148, 148, 148);
    border: none;
    font-size: 16px;
    text-decoration: none;
    transition-duration: 0.5s;
}

.footer-quicklinks:hover {
    color: white;
    transition-duration: 0.7s;
}

.footer-quicklinks-link {
    display: flex;
    justify-content: center;
}

.createdby-footer {
    padding-top: 30px;
    opacity: 0.5;
    text-align: center;
}

.p-footer-contact {
    opacity: 0.8;
}

.container-contact-footer {
    text-align: center;
}