.container-items-footer {
    display: flex;
    flex-direction: row;
    padding-right: 15vw;
    padding-left: 15vw;
    gap: 60px;
    align-items: top;
    padding-top: 100px;
}

.h1-footer {
    font-family: "Europa Grotesk", sans-serif;
    font-weight: 400;
    font-size: 38px;
}

.socialmedia-footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 41); 
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    height: 20px;
    text-decoration: none;
    transition-duration: 0.5s;
}

.socialmedia-footer:hover {
    background-color: black;
}

.container-socials-footer {
    display: flex;
    gap: 20px;
}

.container-quicklinks-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 30px; /* Space between items */
}

.container-quicklinks {
    display: flex;
    flex-direction: column; /* Keep the column layout for this container */
}

.footer-quicklinks {
    color: white;
    background-color: rgb(24, 24, 24);
    border: none;
    border-radius: 40px;
    font-size: 15px;
    text-decoration: none;
    height: 50px;
    width: 120px;
    text-transform: uppercase;
    transition-duration: 0.5s;
}

.footer-quicklinks:hover {
    background-color: rgb(11, 11, 11);
}

.footer-quicklinks-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.createdby-footer {
    padding-top: 30px;
    opacity: 0.5;
    text-align: center;
}

.p-footer-contact {
    opacity: 0.8;
}