@font-face {
    font-family: 'Europa Grotesk';
    src: url('/europagrotesk.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

.container-navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40vw; 
    align-items: center;
}

@media(max-width: 710px) {
    .container-navbar {
        gap: 10vw;
    }
}

@media(max-width: 540px){
    .contact-nav {
        display: none;
    }
}

.nav-logo {
    display: flex;
    flex-direction: row;
    font-weight: 900;
    transition: transform 0.5s ease, opacity 0.5s ease; 
    opacity: 0; 
    transform: translateY(-20px); 
    padding-top: 20px;
}

.logo-image {
    max-width: 200px; 
    height: auto; 
}

.nav-logo.show {
    opacity: 1;
    transform: translateY(0); 
}

.contact-nav {
    font-family: "Europa Grotesk", sans-serif;
    font-size: 24px;
    transition: color 0.8s ease, transform 0.8s ease; 
    opacity: 0;
    transform: translateY(-20px); 
    color: white;
    border: none;
    background: none;
    text-decoration: underline;
    margin-top: 30px;
}

.contact-nav.show {
    opacity: 1; 
    transform: translateY(0); 
}

.contact-nav:hover {
    color: #505fae;
}