@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.container-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 39vw;
    top: 0;
    animation: slideDown 1s ease-out forwards; /* Animation applied */
    opacity: 0; /* Start hidden for fade-in effect */
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar-logo {
    height: 45px;
}

.button-navbar {
    position: relative;
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    white-space: nowrap;
    text-transform: uppercase;
}

.button-navbar::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0;
    height: 1px; 
    background-color: #fff; 
    transition: width 0.5s ease; 
}

.button-navbar:hover::after {
    width: 100%; 
}